* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #474747;
  }
  
  body {
    padding: 5rem 0;
    background: linear-gradient(125deg, #fd4a1d 0%, #fcb045 100%);
    min-height: 100vh;
  }
  .container {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(125deg, #5effc9 0%, #45c2fc 100%);
    padding: 2rem 1rem;
    border-radius: 35px;
    box-shadow: 0px 10px 30px 0px #3f3f3f;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 2.35rem;
    text-shadow: -1px 3px 2px #fd4a1d;
  }
  form {
    margin: 2rem 0;
  }
  form input {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    padding: 0 1rem;
    border: 2px solid #fd4a1d;
    font-size: 1.3rem;
    background: linear-gradient(125deg, #fd4a1d 0%, #fcb045 100%);
    color: #5effc9;
    box-shadow: 0px 2px 10px 0px #3f3f3f;
    transition: 0.7s;
  }
  form input::-webkit-input-placeholder {
    color: #5effc9;
  }
  form input::-moz-placeholder {
    color: #5effc9;
  }
  form input:-ms-input-placeholder {
    color: #5effc9;
  }
  form input::-ms-input-placeholder {
    color: #5effc9;
  }
  form input::placeholder {
    color: #5effc9;
  }
  form input:focus {
    border: 3px solid #ffee00;
  }
  ul {
    text-align: left;
  }